<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Books Add</ion-title>
    <ion-button fill="solid" size="small" slot="start" (click)="backk()">
      <ion-icon name="arrow-back-outline"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <form [formGroup]="bookform" (ngSubmit)="add()">
    <ion-item>
      <ion-input type="text" formControlName="Bname" placeholder="Enter Book name" [(ngModel)]="bname"></ion-input>
    </ion-item>
    <span *ngIf="bookform.get('Bname').hasError('required') && bookform.get('Bname').touched">Book name should not be empty</span>
    <ion-button type="submit" expand="full" shape="round" [disabled]="!bookform.valid">Add</ion-button>
  </form>
  </ion-card>
</ion-content>