ion-card{
    box-shadow: none !important;
    --background: transparent;
}

ion-item{
    border-radius: 30px;
    border: 1px solid black;
    margin: 10px;
}

ion-button{
    margin: 15px;
}

ion-content{
    --background: transparent; 
}

span{
    margin-left: 25px;
    color: red;
    font-size: 12px;
}