<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Books Add</ion-title>
    <ion-button fill="solid" size="small" slot="start" (click)="backk()">
      <ion-icon name="arrow-back-outline"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-item>
      <ion-input type="text" placeholder="Enter Book name" [(ngModel)]="bname"></ion-input>
    </ion-item>
    <ion-button expand="full" shape="round" (click)="add()">Add</ion-button>
  </ion-card>
</ion-content>