<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Customer Add</ion-title>
    <ion-button fill="solid" size="small" slot="start" (click)="backk()">
      <ion-icon name="arrow-back-outline"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content class="mainBack">
  <ion-card>
    <form [formGroup]="CustoForm" (ngSubmit)="add()">
    <ion-item>
      <ion-input type="text" formControlName="Cusname" placeholder="Enter Customer name" [(ngModel)]="cname"></ion-input>
    </ion-item>
    <span *ngIf="CustoForm.get('Cusname').hasError('required') && CustoForm.get('Cusname').touched">Customer name should not be empty</span>
    <ion-item>
      <ion-select placeholder="Select Book" formControlName="Boook" [(ngModel)]="book">
        <ion-select-option *ngFor="let i of bookList" value="{{i.name}}">{{i.name}}</ion-select-option>
      </ion-select>
    </ion-item>
    <span *ngIf="CustoForm.get('Boook').hasError('required') && CustoForm.get('Boook').touched">Book should not be empty</span>
    <ion-button type="submit" expand="full" shape="round" [disabled]="!CustoForm.valid">Add</ion-button>
  </form>
  </ion-card>
</ion-content>
